# API Token для доступа к сервису рабочих дней
API_TOKEN=your_api_token_here

# Порт на котором будет запущен сервер (по умолчанию 8080)
PORT=8080

# Окружение (development/production)
# development - включает debug логи
# production - только info и error логи
APP_ENV=development 

# Адрес memcached
MEMCACHED_ADDR=localhost:11212

# TTL memcached
MEMCACHED_TTL=24h