basePath: /api/v1
definitions:
  internal_http_handlers_health.MemoryInfo:
    properties:
      alloc:
        type: string
      frees:
        type: integer
      gc_cycles:
        type: integer
      gc_sys:
        type: string
      heap_alloc:
        type: string
      heap_idle:
        type: string
      heap_inuse:
        type: string
      heap_objects:
        type: integer
      heap_released:
        type: string
      heap_sys:
        type: string
      last_gc_timestamp:
        type: integer
      lookups:
        type: integer
      mallocs:
        type: integer
      next_gc:
        type: string
      stack_inuse:
        type: string
      stack_sys:
        type: string
      sys:
        type: string
      total_alloc:
        type: string
    type: object
  internal_http_handlers_health.Response:
    properties:
      memory:
        $ref: '#/definitions/internal_http_handlers_health.MemoryInfo'
      services:
        items:
          $ref: '#/definitions/internal_http_handlers_health.Status'
        type: array
      status:
        type: string
      system:
        $ref: '#/definitions/internal_http_handlers_health.SystemInfo'
      timestamp:
        type: string
    type: object
  internal_http_handlers_health.Status:
    properties:
      message:
        type: string
      name:
        type: string
      status:
        type: string
      timestamp:
        type: string
    type: object
  internal_http_handlers_health.SystemInfo:
    properties:
      cpu_cores:
        type: integer
      go_version:
        type: string
      goroutines:
        type: integer
      uptime:
        type: string
    type: object
  salary_calculator_internal_dto_add_bonus.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      value:
        type: number
    type: object
  salary_calculator_internal_dto_add_bonus.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_add_duty.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      in_holidays:
        type: integer
      in_workdays:
        type: integer
    type: object
  salary_calculator_internal_dto_add_duty.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_add_salary_change.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      value:
        type: number
    type: object
  salary_calculator_internal_dto_add_salary_change.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_delete_bonus.In:
    properties:
      id:
        type: string
    type: object
  salary_calculator_internal_dto_delete_bonus.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_delete_duty.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
    type: object
  salary_calculator_internal_dto_delete_duty.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_delete_salary_change.In:
    properties:
      id:
        type: string
    type: object
  salary_calculator_internal_dto_delete_salary_change.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_edit_bonus.In:
    properties:
      coefficient:
        type: number
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      id:
        type: string
      value:
        type: number
    type: object
  salary_calculator_internal_dto_edit_bonus.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_edit_duty.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      in_holidays:
        type: integer
      in_workdays:
        type: integer
    type: object
  salary_calculator_internal_dto_edit_duty.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_edit_salary_change.In:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      id:
        type: string
      value:
        type: number
    type: object
  salary_calculator_internal_dto_edit_salary_change.Out:
    properties:
      ok:
        type: boolean
    type: object
  salary_calculator_internal_dto_get_salary_report.Out:
    properties:
      base_salary:
        type: number
      result:
        $ref: '#/definitions/salary_calculator_internal_services_calculator.SalaryCalculationResult'
    type: object
  salary_calculator_internal_dto_list_bonuses.Bonus:
    properties:
      coefficient:
        type: number
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      id:
        type: string
      value:
        type: number
    type: object
  salary_calculator_internal_dto_list_bonuses.Out:
    properties:
      bonuses:
        items:
          $ref: '#/definitions/salary_calculator_internal_dto_list_bonuses.Bonus'
        type: array
    type: object
  salary_calculator_internal_dto_list_duties.DutyItem:
    properties:
      date:
        type: string
      in_holidays:
        type: integer
      in_workdays:
        type: integer
    type: object
  salary_calculator_internal_dto_list_duties.Out:
    properties:
      duties:
        items:
          $ref: '#/definitions/salary_calculator_internal_dto_list_duties.DutyItem'
        type: array
    type: object
  salary_calculator_internal_dto_list_salary_changes.Change:
    properties:
      date:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.SalaryDate'
      id:
        type: string
      value:
        type: number
    type: object
  salary_calculator_internal_dto_list_salary_changes.Out:
    properties:
      changes:
        items:
          $ref: '#/definitions/salary_calculator_internal_dto_list_salary_changes.Change'
        type: array
    type: object
  salary_calculator_internal_dto_value_objects.ExtraPayment:
    properties:
      name:
        type: string
      type:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.ExtraPaymentType'
      value:
        type: number
    type: object
  salary_calculator_internal_dto_value_objects.ExtraPaymentType:
    enum:
    - advance
    - salary
    - extra
    type: string
    x-enum-varnames:
    - Advance
    - Salary
    - Extra
  salary_calculator_internal_dto_value_objects.ExtraPaymentsCollectionDto:
    properties:
      payments:
        items:
          $ref: '#/definitions/salary_calculator_internal_dto_value_objects.ExtraPayment'
        type: array
      total:
        type: number
    type: object
  salary_calculator_internal_dto_value_objects.SalaryDate:
    type: object
  salary_calculator_internal_services_calculator.SalaryCalculationResult:
    properties:
      advance:
        type: number
      extra_payments:
        $ref: '#/definitions/salary_calculator_internal_dto_value_objects.ExtraPaymentsCollectionDto'
      grossAdvance:
        type: number
      grossSalary:
        type: number
      grossTotal:
        type: number
      salary:
        type: number
      total:
        type: number
    type: object
host: localhost:8080
info:
  contact: {}
  description: API для расчета зарплаты, управления бонусами и изменениями оклада.
  title: Salary Calculator API
  version: "1.0"
paths:
  /bonuses/:
    delete:
      consumes:
      - application/json
      description: Удаляет запись о бонусе
      parameters:
      - description: ID бонуса
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_delete_bonus.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_delete_bonus.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Удалить бонус
      tags:
      - bonuses
    get:
      description: Возвращает список всех зарегистрированных бонусов
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_list_bonuses.Out'
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Список бонусов
      tags:
      - bonuses
    post:
      consumes:
      - application/json
      description: Создает новую запись о бонусе
      parameters:
      - description: Данные бонуса
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_add_bonus.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_add_bonus.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Добавить бонус
      tags:
      - bonuses
    put:
      consumes:
      - application/json
      description: Обновляет данные существующего бонуса
      parameters:
      - description: Данные бонуса
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_edit_bonus.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_edit_bonus.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Редактировать бонус
      tags:
      - bonuses
  /duties/:
    delete:
      consumes:
      - application/json
      description: Удаляет запись о дежурстве
      parameters:
      - description: ID дежурства
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_delete_duty.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_delete_duty.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Удалить дежурство
      tags:
      - duties
    get:
      description: Возвращает список всех зарегистрированных дежурств
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_list_duties.Out'
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Список дежурств
      tags:
      - duties
    post:
      consumes:
      - application/json
      description: Создает новую запись о дежурстве
      parameters:
      - description: Данные дежурства
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_add_duty.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_add_duty.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Добавить дежурство
      tags:
      - duties
    put:
      consumes:
      - application/json
      description: Обновляет данные существующего дежурства
      parameters:
      - description: Данные дежурства
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_edit_duty.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_edit_duty.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Редактировать дежурство
      tags:
      - duties
  /health/health:
    get:
      description: Возвращает текущее состояние сервиса и системные метрики
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/internal_http_handlers_health.Response'
        "503":
          description: Service Unavailable
          schema:
            $ref: '#/definitions/internal_http_handlers_health.Response'
      summary: Проверка здоровья
      tags:
      - health
  /salary/changes/:
    delete:
      consumes:
      - application/json
      description: Удаляет запись об изменении оклада
      parameters:
      - description: ID записи
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_delete_salary_change.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_delete_salary_change.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Удалить изменение зарплаты
      tags:
      - salary
    get:
      description: Возвращает историю изменений базовой зарплаты
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_list_salary_changes.Out'
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Список изменений зарплаты
      tags:
      - salary
    post:
      consumes:
      - application/json
      description: Создает новую запись об изменении оклада
      parameters:
      - description: Данные изменения
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_add_salary_change.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_add_salary_change.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Добавить изменение зарплаты
      tags:
      - salary
    put:
      consumes:
      - application/json
      description: Обновляет данные существующей записи об изменении оклада
      parameters:
      - description: Данные изменения
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/salary_calculator_internal_dto_edit_salary_change.In'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_edit_salary_change.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Редактировать изменение зарплаты
      tags:
      - salary
  /salary/report:
    get:
      description: Рассчитывает зарплату за указанный месяц и год
      parameters:
      - description: Год (напр. 2024)
        in: query
        name: year
        required: true
        type: integer
      - description: Месяц (1-12)
        in: query
        name: month
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/salary_calculator_internal_dto_get_salary_report.Out'
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Отчет по зарплате
      tags:
      - salary
swagger: "2.0"
